.idea
﻿# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Business logic tier.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Business logic tier/API/bin/
Business logic tier/API/obj/
/bin/
/obj/
*.json
Data tier/food.db
*.db
