.idea
﻿# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Business logic tier.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# .net local compilation files
bin/
obj/

# any json / db file (sqlite)
*.json
Data tier/food.db
*.db
