

.allItems{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}



.card{
    padding-top: 2rem;
}

.recipeDetail{
    border: 5px solid #5c1c69;
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
}

.form-group{
    width: 25%;
}

.is-small > .fa-primary {
    color: red;
}
.page{
    width: 100vw;
}
.main{
    
}


