@inject IJSRuntime JSRuntime

@page "/Chat"

<h3>Chat</h3>

<div class="container">
    <p id="notification">Notification</p>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="number" id="userInput"/></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="text" id="messageInput"/></div>
        <div class="col-4">
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="button" id="connectAsAdmin" value="Admin "/>
        </div>
        <div class="col-3">
            <input type="button" id="connectAsUser" value="User"/>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
    
<SurveyPrompt Title="How is Blazor working for you?"/>


@code {
    protected override async Task OnInitializedAsync()
    {
       
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("start");
        await JSRuntime.InvokeVoidAsync("initialise");
    }
}