@page "/login"
@using WebApp.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@namespace LoginComponent
<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="form-group">
                <label>E-mail:</label>
                <input type="text" placeholder="E-mail address" @bind-value="email"/>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" placeholder="Password" @bind-value="password">
            </div>
            <div style="color: red">@errorMessage</div>

            <button href="" @onclick="PerformLogin">
                Login
            </button>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private string email;
    private string password;
    private string errorMessage;

    private async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(email, password);
            email = "";
            password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
}