@page "/login"
@using WebApp.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@namespace LoginComponent
<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            @* <div class="form-group"> *@
            @*     <label>E-mail:</label> *@
            @*     <input type="text" placeholder="E-mail address" @bind-value="email"/> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label>Password:</label> *@
            @*     <input type="password" placeholder="Password" @bind-value="password"> *@
            @* </div> *@
            @* *@
            <h3></h3>
            <h3></h3>
            <div class="form-group">
              <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" @bind-value="email">
                  <span class="icon is-small is-left inputIcons">
                    <svg aria-hidden="true" focusable="false" data-prefix="fa-duotone" data-icon="at" class="svg-inline--fa fa-at fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><g class="fa-group"><path class="fa-primary zaibal" d="M384 318.7c-18.1-3.825-32.01-19.18-32.01-38.43v-120.1c0-8.846-7.171-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68C274.1 148.6 257.6 144.1 240 144.1c-61.86 0-112 50.2-112 112.1s50.13 112.1 111.1 112.1c26.44 0 50.43-9.544 69.59-24.88C327.1 366.3 353.7 381.7 384 384V318.7zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z" fill="currentColor"/><path class="fa-secondary zaiball" d="M495.1 256.3v20.96c.0001 46.74-29.27 90.22-74.22 103C408.8 383.9 396.1 384.1 384 384v-65.31c2.672 .5651 5.164 1.621 7.1 1.621c22.06 0 40-17.96 40-40.05l0-16.16c.0001-91.97-67.02-174.3-158.6-183.2C168.6 70.76 79.1 153.4 79.1 256.3c0 87.88 64.61 160.9 148.8 174.1c15.62 2.441 27.24 15.5 27.24 31.31c-.0001 19.52-17.42 35.04-36.71 32.07c-130.2-20.08-226.1-145.2-198.5-285.9c18.34-93.45 93.57-168.8 187-187.1C361.2-9.332 495.1 107.1 495.1 256.3z" fill="currentColor"/></g></svg>
                    
                </span>
              
              </p>
            </div>
            <div class="form-group">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" @bind-value="password">
                    <span class="icon is-small is-left inputIcons">
                        <svg aria-hidden="true" focusable="false" data-prefix="fa-duotone" data-icon="key" class="svg-inline--fa fa-key fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><g class="fa-group"><path class="fa-primary zaibal" d="M336 0c-97.2 0-176 78.8-176 176c0 14.71 2.004 28.93 5.406 42.59l128 127.1C307.1 349.1 321.3 351.1 336 351.1c97.2 0 176-78.8 176-176S433.2 0 336 0zM376 176c-22.09 0-40-17.91-40-40S353.9 96 376 96S416 113.9 416 136S398.1 176 376 176z" fill="currentColor"/><path class="fa-secondary zaiball" d="M165.4 218.6l-156 156C3.371 380.6 0 388.8 0 397.3V496C0 504.8 7.164 512 16 512l96 0c8.836 0 16-7.164 16-16v-48h48c8.836 0 16-7.164 16-16v-48h57.37c4.242 0 8.312-1.688 11.31-4.688l32.72-32.72L165.4 218.6z" fill="currentColor"/></g></svg>
                        
                    </span>
                    
                </p>
            </div>
            
            
            <div style="color: red">@errorMessage</div>

            <button class="button is-link is-light" href="" @onclick="PerformLogin">
                Login
            </button>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private string email;
    private string password;
    private string errorMessage;

    private async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(email, password);
            email = "";
            password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
}