@page "/register"
@using WebApp.Data
@using WebApp.Models
@using Microsoft.AspNetCore.Components

@inject NavigationManager NavigationManager
@inject IUserService UserService
<h3></h3>
<h3></h3>
<h3>Registration</h3>
<EditForm Model="@newUserItem" OnValidSubmit="@AddNewUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group"> Email:<br/>
       
        <InputText class ="input input is-info" placeholder="Enter your email address..."  @bind-Value="newUserItem.Email"/>
    </div>
    <div class="form-group"> Password:<br/>
        <InputText class ="input input is-info" placeholder="Enter your password..." rows="4" @bind-Value="newUserItem.Password"/>
    </div>
    <div class="form-group"> First Name:<br/>
        <InputText class ="input input is-info" placeholder="Enter your first name" @bind-Value="newUserItem.FirstName"/>
    </div>
    <div class="form-group"> Last Name:<br/>
        <InputText class ="input input is-info" placeholder="Enter your your last name..." @bind-Value="newUserItem.LastName"/>
    </div>
    <div class="form-group"> Phone Number:<br/>
        <InputNumber class ="input input is-info" placeholder="Enter your phone number..." @bind-Value="newUserItem.Phone"/>
    </div>
    <div class="form-group"> Address:<br/>
        <InputText class ="input input is-info" id="ex1" placeholder="Enter your address..." @bind-Value="newUserItem.Address"/>
    </div>
    <div class="form-group"> PostalCode:<br/>
        <InputNumber class ="input input is-info" placeholder="Enter the postal code..." @bind-Value="newUserItem.PostalCode"/>
    </div>
    <p class="actions">
        <button class="button is-link is-light" type="submit">Register</button>
    </p>
</EditForm>

@code {
    private User newUserItem;

    protected override Task OnInitializedAsync()
    {
        SetupNewUser();
        return base.OnInitializedAsync();
    }
    
    private async Task SetupNewUser()
    {
        newUserItem = new User
        {
            Email = "",
            Password = "",
            FirstName = "",
            LastName = "",
            Phone = 0,
            Address = "",
            PostalCode = 0,
            SecurityLevel = 1
        };
    }

    private void AddNewUser()
    {
        UserService.RegisterUserAsync(newUserItem);
        NavigationManager.NavigateTo("/");
    }
}